Cliente_Asociados_CA/Connected Services/Server_Asociados/ServerAsociados.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" />
  <xs:element name="cargarComboEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboEstadosResult" nillable="true" type="q1:ArrayOfestados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboMunicipiosResult" nillable="true" type="q2:ArrayOfmunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboLocalidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboLocalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboLocalidadesResult" nillable="true" type="q3:ArrayOflocalidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarLoginResult" nillable="true" type="q4:userLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBynoSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSocio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBynoSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getBynoSocioResult" nillable="true" type="q5:getSocioByNoSocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
        <xs:element minOccurs="0" name="noSocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anioJubilacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSangre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noImms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
        <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nombreCompletoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarSocioResult" nillable="true" type="q6:socio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getSocioResult" nillable="true" type="q7:mostrarSocios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>