Cliente_Asociados_CA/Connected Services/Server_Asociados/ServerAsociados1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfestados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="estados" nillable="true" type="tns:estados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfestados" nillable="true" type="tns:ArrayOfestados" />
  <xs:complexType name="estados">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="estados" nillable="true" type="tns:estados" />
  <xs:complexType name="ArrayOfmunicipios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="municipios" nillable="true" type="tns:municipios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmunicipios" nillable="true" type="tns:ArrayOfmunicipios" />
  <xs:complexType name="municipios">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="municipios" nillable="true" type="tns:municipios" />
  <xs:complexType name="ArrayOflocalidades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="localidades" nillable="true" type="tns:localidades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflocalidades" nillable="true" type="tns:ArrayOflocalidades" />
  <xs:complexType name="localidades">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="localidades" nillable="true" type="tns:localidades" />
  <xs:complexType name="userLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userLogin" nillable="true" type="tns:userLogin" />
  <xs:complexType name="getSocioByNoSocio">
    <xs:sequence>
      <xs:element minOccurs="0" name="numSocio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="socioTab" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getSocioByNoSocio" nillable="true" type="tns:getSocioByNoSocio" />
  <xs:complexType name="socio">
    <xs:sequence>
      <xs:element minOccurs="0" name="anioJubilacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="noImms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noSocio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompletoE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoSangre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="socio" nillable="true" type="tns:socio" />
  <xs:complexType name="mostrarSocios">
    <xs:sequence>
      <xs:element minOccurs="0" name="SocioTab" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mostrarSocios" nillable="true" type="tns:mostrarSocios" />
</xs:schema>